In [1]:
import numpy as np
import pandas as pd

In [2]:
tweet_df = pd.read_csv("train_tweet.csv")

In [3]:
imdb_df = pd.read_csv("IMDB Dataset.csv")

# Text Convert To Lower Case

In [4]:
def convert_text_lower_case(text):
    text = text.lower()
    return text

In [5]:
text = "Presenting a Drama of Mohidul Mohim’s “Dhaka To Dubai”, Script & Directed by Mohidul Mohim, Starring Afran Nisho, Mehazabien Chowdhury, Shahidul Alam Shachchu, Farhad Limon, Tamanna Azmir & many. Producer SK Shahed Ali Pappu & Produced by Central Music and Video (CMV)."
result = convert_text_lower_case(text)

In [6]:
result

'presenting a drama of mohidul mohim’s “dhaka to dubai”, script & directed by mohidul mohim, starring afran nisho, mehazabien chowdhury, shahidul alam shachchu, farhad limon, tamanna azmir & many. producer sk shahed ali pappu & produced by central music and video (cmv).'

In [7]:
imdb_df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [8]:
imdb_df["review"] = imdb_df["review"].apply(convert_text_lower_case)

In [9]:
imdb_df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Remove Html Tag

In [10]:
import re
def remove_html_tag(text):
    
    html_pattren = r"<.*?>"
    with_out_html = re.sub(pattern=html_pattren, repl=" ", string=text)
    return with_out_html

In [11]:
text = """ <body>
<div>
<h1>Hi, this is an example text with Html tags. </h1>
</div>
</body>
"""

In [12]:
result = remove_html_tag(text)

In [13]:
imdb_df['review'] = imdb_df['review'].apply(remove_html_tag)

In [15]:
imdb_df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production.   the filming t...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]