In [50]:
import numpy as np
import pandas as pd
import re
import num2words

# Reading Need Dataset

In [27]:
df = pd.read_csv('train_tweet.csv')
df2 = pd.read_csv('IMDB Dataset.csv')

# Text Convert to Lower case

In [3]:
text = "Hello Shohel HoW ARE you"

In [4]:
text.lower()

'hello shohel how are you'

In [6]:
df2.head()

   Unnamed: 0                                             review sentiment
0           0  One of the other reviewers has mentioned that ...  positive
1           1  A wonderful little production. <br /><br />The...  positive
2           2  I thought this was a wonderful way to spend ti...  positive
3           3  Basically there's a family where a little boy ...  negative
4           4  Petter Mattei's "Love in the Time of Money" is...  positive

In [9]:
df2['review'][0].lower()

"one of the other reviewers has mentioned that after watching just 1 oz episode you'll be hooked. they are right, as this is exactly what happened with me.<br /><br />the first thing that struck me about oz was its brutality and unflinching scenes of violence, which set in right from the word go. trust me, this is not a show for the faint hearted or timid. this show pulls no punches with regards to drugs, sex or violence. its is hardcore, in the classic use of the word.<br /><br />it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />i would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. forget pretty pictures painted for mainstream audiences, forget charm, forget romance...oz doesn't mess around. the first episode i ever saw struck me as so nasty it was surreal, i couldn't say i was ready for it, but as i watched more, i developed a taste for oz, and got accustomed to the high levels of graphic violence. not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) watching oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [12]:
# all data set convert lower case

df2['review'] = df2['review'].str.lower()

In [15]:
df2['review'][5]

'probably my all-time favorite movie, a story of selflessness, sacrifice and dedication to a noble cause, but it\'s not preachy or boring. it just never gets old, despite my having seen it some 15 or more times in the last 25 years. paul lukas\' performance brings tears to my eyes, and bette davis, in one of her very few truly sympathetic roles, is a delight. the kids are, as grandma says, more like "dressed-up midgets" than children, but that only makes them more fun to watch. and the mother\'s slow awakening to what\'s happening in the world and under her own roof is believable and startling. if i had a dozen thumbs, they\'d all be "up" for this movie.'

In [16]:
def text_convert_lower_case(text):
    text = text.lower()
    return text

In [18]:
df2['review'] = df2['review'].apply(text_convert_lower_case)

In [19]:
df2

       Unnamed: 0                                             review sentiment
0               0  one of the other reviewers has mentioned that ...  positive
1               1  a wonderful little production. <br /><br />the...  positive
2               2  i thought this was a wonderful way to spend ti...  positive
3               3  basically there's a family where a little boy ...  negative
4               4  petter mattei's "love in the time of money" is...  positive
...           ...                                                ...       ...
49995       49995  i thought this movie did a down right good job...  positive
49996       49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997       49997  i am a catholic taught in parochial elementary...  negative
49998       49998  i'm going to have to disagree with the previou...  negative
49999       49999  no one expects the star trek movies to be high...  negative

[50000 rows x 3 columns]

# Html Tag Remove

In [21]:
def remove_html_tag(text):
    pattern = re.compile(r"<.*?>")
    return pattern.sub('', text)

In [22]:
df2['review'] = df2['review'].apply(remove_html_tag)

In [25]:
df2['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [28]:
def remove_html_tag2(text):
    
    pattern = r"<.*?>"
    text = re.sub(pattern=pattern, repl='', string=text)
    return text

In [29]:
df2['review'] = df2['review'].apply(remove_html_tag2)

In [30]:
df2

       Unnamed: 0                                             review sentiment
0               0  One of the other reviewers has mentioned that ...  positive
1               1  A wonderful little production. The filming tec...  positive
2               2  I thought this was a wonderful way to spend ti...  positive
3               3  Basically there's a family where a little boy ...  negative
4               4  Petter Mattei's "Love in the Time of Money" is...  positive
...           ...                                                ...       ...
49995       49995  I thought this movie did a down right good job...  positive
49996       49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997       49997  I am a Catholic taught in parochial elementary...  negative
49998       49998  I'm going to have to disagree with the previou...  negative
49999       49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 3 columns]

# Urls Remove

In [31]:
def remove_urls(text):
    pattern = re.compile(r"https?://\S+|www.\S+")
    return pattern.sub('', text)

In [38]:
text2 = 'Hello SHohel https://dataaspirant.com/nlp-text-preprocessing-techniques-implementation-python/#t-1600077497352 '

In [35]:
remove_urls(text2)

'Hello SHohel  '

In [36]:
def remove_urls2(text):
    pattern = r"https?://\S+|www.\S+"
    text = re.sub(pattern=pattern, repl='',string=text)
    return text

In [37]:
text2 = 'Hello SHohel https://dataaspirant.com/nlp-text-preprocessing-techniques-implementation-python/#t-1600077497352 '

In [39]:
remove_urls2(text2)

'Hello SHohel  '

# Removing Digit

In [44]:
def remove_digit(text):
    pattern = r'\d+'
    text = re.sub(pattern=pattern, repl='', string=text)
    return text

In [45]:
text3 = 'shohel2 hossai2n'

In [46]:
remove_digit(text3)

'shohel hossain'

# Convert Number to Word

In [64]:
def convert_num_to_word(text):
    new_text = text.split()
    
    for index in range(len(new_text)):
        if new_text[index].isdigit():
            new_text[index] = num2words.num2words(new_text[index])
            

    new_text_word = ' '.join(new_text)
    
    return new_text_word

In [65]:
text4 =  """This is an example sentence for converting numbers to words like 1 to one, 5 to five, 74 to seventy-four, etc."""

In [67]:
convert_num_to_word(text4)

'This is an example sentence for converting numbers to words like one to one, five to five, seventy-four to seventy-four, etc.'

# spelling correction

In [76]:
from textblob import TextBlob

textblob = TextBlob('Hello shohel HO are you')

textblob.correct().string

'Hello shovel of are you'

In [100]:
text5 = 'dep learni indi'

In [101]:
from spellchecker import SpellChecker

spell_corrector = SpellChecker()

def text_spell_corrector(text):
    correct_spell = []
    worng_spell_word = spell_corrector.unknown(text.split())
    
    for word in text.split():
        if word in worng_spell_word:
            right_word = spell_corrector.correction(word)
            correct_spell.append(right_word)
        else:
            correct_spell.append(word)
    right_word = ' '.join(correct_spell)
    return right_word

In [102]:
text_spell_corrector(text5)

'dep learn andi'

In [105]:
text6 = """
This is an example sentene for spell corecton
"""

In [106]:
text_spell_corrector(text6)

'This is an example sentence for spell correction'

In [111]:
# df2['review'] = df2['review'][3].apply(text_spell_corrector)

AttributeError: 'str' object has no attribute 'apply'

In [113]:
text_spell_corrector(df2['review'][4]).lower()

'petter mattei\'s "love in the time of money" is a visually stunning film to watch mr. mattei offers us a vivid portrait about human relations this is a movie that seems to be telling us what money power and success do to people in the different situations we encounter this being a variation on the arthur schnitzler\'s play about the same theme the director transfers the action to the present time new york where all these different characters meet and connect each one is connected in one way or another to the next person but no one seems to know the previous point of contact stylishly, the film has a sophisticated luxurious look we are taken to see how these people live and the world they live in their own habitat.the only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits a big city is not exactly the best place in which human relations find sincere fulfillment as one discerns is the case with most of the people we encounter.the acting is good under mr. mattei\'s direction steve buscemi, rosario dawson, carol kane, michael imperioli, adrian grenier, and the rest of the talented cast make these characters come alive.we wish mr. mattei good luck and await anxiously for his next work'

# removing punctuations

In [114]:
from string import punctuation

punc = punctuation

In [115]:
def remove_punc(text):
    
    for char in punc:
        text = text.replace(char, '')
    
    return text

In [116]:
def remove_punc2(text):
    return text.translate(str.maketrans('', '', punc))

In [120]:
text7 = 'this is an example text for punctuations like .?/* '

In [119]:
remove_punc2(text7)

'this is an example text for punctuations like  '

In [121]:
df['tweet'] = df['tweet'].apply(remove_punc)

In [122]:
df

          id  label                                              tweet
0          1      0   user when a father is dysfunctional and is so...
1          2      0  user user thanks for lyft credit i cant use ca...
2          3      0                                bihday your majesty
3          4      0  model   i love u take with u all the time in u...
4          5      0               factsguide society now    motivation
...      ...    ...                                                ...
31957  31958      0  ate user isz that youuuðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  user sikh temple vandalised in in calgary wso ...
31961  31962      0                    thank you user for you follow

[31962 rows x 3 columns]

# Chat Word Treatment

In [123]:
chat_word = { 
'AFAIK':'As Far As I Know',
'AFK':'Away From Keyboard',
'ASAP':'As Soon As Possible',
'ATK':'At The Keyboard',
'ATM':'At The Moment',
'A3':'Anytime, Anywhere, Anyplace',
'BAK':'Back At Keyboard',
'BBL':'Be Back Later',
'BBS':'Be Back Soon',
'BFN':'Bye For Now',
'B4N':'Bye For Now',
'BRB':'Be Right Back',
'BRT':'Be Right There',
'BTW':'By The Way',
'B4':'Before',
'B4N':'Bye For Now',
'CU':'See You',
'CUL8R':'See You Later',
'CYA':'See You',
'FAQ':'Frequently Asked Questions',
'FC':'Fingers Crossed',
'FWIW':"For What It's Worth",
'FYI':'For Your Information',
'GAL':'Get A Life',
'GG':'Good Game',
'GN':'Good Night',
'GMTA':'Great Minds Think Alike',
'GR8':'Great',
'G9':'Genius',
'IC':'I See',
'ICQ':'I Seek you (also a chat program)',
'ILU': 'I Love You',
'IMHO':'In My Honest/Humble Opinion',
'IMO':'In My Opinion',
'IOW':'In Other Words',
'IRL':'In Real Life',
'KISS':'Keep It Simple, Stupid',
'LDR':'Long Distance Relationship',
'LMAO':'Laugh My A.. Off',
'LOL':'Laughing Out Loud',
'LTNS':'Long Time No See',
'L8R':'Later',
'MTE':'My Thoughts Exactly',
'M8':'Mate',
'NRN':'No Reply Necessary',
'OIC':'Oh I See',
'PITA':'Pain In The A..',
'PRT':'Party',
'PRW':'Parents Are Watching',
'QPSA':'Que Pasa',
'ROFL':'Rolling On The Floor Laughing',
'ROFLOL':'Rolling On The Floor Laughing Out Loud',
'ROTFLMAO':'Rolling On The Floor Laughing My A.. Off',
'SK8':'Skate',
'STATS':'Your sex and age',
'ASL':'Age, Sex, Location',
'THX':'Thank You',
'TTFN':'Ta-Ta For Now!',
'TTYL':'Talk To You Later',
'U':'You',
'U2':'You Too',
'U4E':'Yours For Ever',
'WB':'Welcome Back',
'WTF':'What The F...',
'WTG':'Way To Go!',
'WUF':'Where Are You From?',
'W8':'Wait',
'7K':'Sick:-D Laugher',
'prblm':'Problem',
'thnx':'Thank You',
'Plz':'Please',
'pls':'Please',
'2mrw':'tomorrow',
'BF':'boyfriend',
'BF':'bestfriend',
'GF':'girlfriend',
'HBD':'Happy Birthday',
'hhhhhh':'very funny',
'How r u':'How are you?',
'mins':'minutes',
'MSG':'message',
'nv':'nevermind',
'OIC':'Oh, I see',
'OTW':'on the way',
'blnc':'chat_word',
'P2P':'person-to-person',
'U2':'you too',
'ur':'your',
'ZZZ':'tired',
'ZZZ':'bored',
'?4U':'I have a question for you.',
'121':'one-to-one',
'<3':'love',
'CUZ':'because',
'COS':'because',
'CWYL':'Chat with you later',
'DC':'disconnected',
'DIY':'Do it yourself',
'DM':'Direct Message',
'F2F':'face-to-face',
'FB':'Facebook',
'Sup or Zup':"What's up?",

}

In [124]:
def handilig_chat_word(text):
    
    new_text = []
    
    for word in text.split():
        if word.upper() in chat_word:
             new_text.append(chat_word[word.upper()])
        else:
            new_text.append(word)
    return ' '.join(new_text)

In [125]:
text8 = """ And u2"""

In [126]:
handilig_chat_word(text8)

'And you too'