In [27]:
import numpy as np
import pandas as pd
import re
import string

In [28]:
df = pd.read_csv('IMDB Dataset.csv')

In [29]:
df.sample(5)

       Unnamed: 0                                             review sentiment
29147       29147  Or at least one of the best. I think this is a...  positive
45739       45739  Sadly, this movie is not very good. But does i...  negative
30631       30631  So the wife and I just finished it despite sev...  negative
29856       29856  I saw the film in its original theatrical rele...  positive
16975       16975  I initially tuned in to Paranormal State becau...  negative

In [30]:
df.shape

(50000, 3)

# Convert Text Lower Case

In [31]:
df['review'][10]

'Phil the Alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />At first it was very odd and pretty funny but as the movie progressed I didn\'t find the jokes or oddness funny anymore.<br /><br />Its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually I just lost interest.<br /><br />I imagine this film would appeal to a stoner who is currently partaking.<br /><br />For something similar but better try "Brother from another planet"'

In [8]:
df['review'][10].lower()

'phil the alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />at first it was very odd and pretty funny but as the movie progressed i didn\'t find the jokes or oddness funny anymore.<br /><br />its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually i just lost interest.<br /><br />i imagine this film would appeal to a stoner who is currently partaking.<br /><br />for something similar but better try "brother from another planet"'

In [9]:
df['review'].str.lower()

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [15]:
def convert_lower_case(text):
    text = text.lower()
    return text

In [16]:
df['review'] = df['review'].apply(convert_lower_case)

In [17]:
df

       Unnamed: 0                                             review sentiment
0               0  one of the other reviewers has mentioned that ...  positive
1               1  a wonderful little production. <br /><br />the...  positive
2               2  i thought this was a wonderful way to spend ti...  positive
3               3  basically there's a family where a little boy ...  negative
4               4  petter mattei's "love in the time of money" is...  positive
...           ...                                                ...       ...
49995       49995  i thought this movie did a down right good job...  positive
49996       49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997       49997  i am a catholic taught in parochial elementary...  negative
49998       49998  i'm going to have to disagree with the previou...  negative
49999       49999  no one expects the star trek movies to be high...  negative

[50000 rows x 3 columns]

# Remove Html Tag

In [21]:
def remove_html_tag(text):
    
    pattren = re.compile(r"<.*?>")
    return pattren.sub(r' ', text)

In [22]:
df['review'][10]

'phil the alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />at first it was very odd and pretty funny but as the movie progressed i didn\'t find the jokes or oddness funny anymore.<br /><br />its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually i just lost interest.<br /><br />i imagine this film would appeal to a stoner who is currently partaking.<br /><br />for something similar but better try "brother from another planet"'

In [23]:
df['review'] = df['review'].apply(remove_html_tag)

In [25]:
df['review'][10]

'phil the alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.  at first it was very odd and pretty funny but as the movie progressed i didn\'t find the jokes or oddness funny anymore.  its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually i just lost interest.  i imagine this film would appeal to a stoner who is currently partaking.  for something similar but better try "brother from another planet"'

In [36]:
def remove_html_tag2(text):
    
    pattren = r"<.*?>"
    
    text = re.sub(pattern=pattren, repl=" ", string=text)
    
    return text

In [37]:
df['review'] = df['review'].apply(remove_html_tag2)

In [38]:
df['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production.   The filming t...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

# Urls Remove

In [45]:
def remove_urls(text):
    
    pattern = re.compile(r'https?://\S+|www.\S+')
    
    return pattern.sub(r" ", text)

In [50]:
text="""https://dataaspirant.com/nlp-text-preprocessing-techniques-implementation-python/#t-1600077497351 Hello NLP
"""

text2 = """
This is an example text for URLs like http://google.com & https://www.facebook.com/ etc.

"""

In [51]:
result = remove_urls(text2)

In [52]:
result

'\nThis is an example text for URLs like   &   etc.\n\n'

In [53]:
def remove_urls2(text):
    pattern = r"https?://\S+|www.\S+"
    
    text = re.sub(pattern = pattern, repl=" ", string=text)
    
    return text

In [56]:
text3 = """
https://www.cricbuzz.com/ Hello Cricbuzz
"""

In [57]:
remove_urls2(text3)

'\n  Hello Cricbuzz\n'

In [58]:
from string import punctuation
import time

time.time()

1644941376.268588

In [59]:
punc = punctuation

In [60]:
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [61]:
def remove_punc(text):
    
    for char in punc:
        text = text.replace(char, '')
    
    return text

In [77]:
text4 = """
this jhj is an example text for punctuations like .?/ @ test*
"""

In [74]:
result = remove_punc(text4)

In [75]:
result

'\nthis is an example text for punctuations like   test\n'

In [76]:
def remove_punc2(text):
    return text.translate(str.maketrans('','', punc))

In [78]:
remove_punc2(text4)

'\nthis jhj is an example text for punctuations like   test\n'

In [79]:
df2 =  pd.read_csv('train_tweet.csv')

In [81]:
df2.sample(5)

          id  label                                              tweet
24243  24244      0  i am thankful for palm trees.#thankful #positi...
24671  24672      0  thank you so much to all my 400 followers. lov...
3217    3218      0  have to postpone mirror of the witch. bc next ...
27918  27919      0    bihday balayya..  you r legend..ðððª...
8709    8710      0  @user spelling's kinda difficult when you're o...

In [83]:
df2['tweet'] = df2['tweet'].apply(remove_punc2)

In [84]:
df2['tweet']

0         user when a father is dysfunctional and is so...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model   i love u take with u all the time in u...
4                     factsguide society now    motivation
                               ...
31957    ate user isz that youuuðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                      thank you user for you follow
Name: tweet, Length: 31962, dtype: object