In [1]:
import numpy as np
import pandas as pd
import re
import string

In [2]:
df = pd.read_csv('IMDB Dataset.csv')

In [3]:
df.sample(5)

                                                  review sentiment
43094  "Throw Momma From the Train" is a simple dark ...  positive
6113   The production quality, cast, premise, authent...  positive
22134  This is the kind of movie Hollywood needs to m...  positive
24392  Watching this again after a gap of many years ...  positive
31656  As we all know Hollywood enjoys changing histo...  negative

In [4]:
df.shape

(50000, 2)

# Convert Text Lower Case

In [5]:
df['review'][10]

'Phil the Alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />At first it was very odd and pretty funny but as the movie progressed I didn\'t find the jokes or oddness funny anymore.<br /><br />Its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually I just lost interest.<br /><br />I imagine this film would appeal to a stoner who is currently partaking.<br /><br />For something similar but better try "Brother from another planet"'

In [6]:
df['review'][10].lower()

'phil the alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />at first it was very odd and pretty funny but as the movie progressed i didn\'t find the jokes or oddness funny anymore.<br /><br />its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually i just lost interest.<br /><br />i imagine this film would appeal to a stoner who is currently partaking.<br /><br />for something similar but better try "brother from another planet"'

In [7]:
df['review'].str.lower()

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [8]:
def convert_lower_case(text):
    text = text.lower()
    return text

In [9]:
df['review'] = df['review'].apply(convert_lower_case)

In [10]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Remove Html Tag

In [11]:
def remove_html_tag(text):
    
    pattren = re.compile(r"<.*?>")
    return pattren.sub(r' ', text)

In [12]:
df['review'][10]

'phil the alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />at first it was very odd and pretty funny but as the movie progressed i didn\'t find the jokes or oddness funny anymore.<br /><br />its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually i just lost interest.<br /><br />i imagine this film would appeal to a stoner who is currently partaking.<br /><br />for something similar but better try "brother from another planet"'

In [13]:
df['review'] = df['review'].apply(remove_html_tag)

In [14]:
df['review'][10]

'phil the alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.  at first it was very odd and pretty funny but as the movie progressed i didn\'t find the jokes or oddness funny anymore.  its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually i just lost interest.  i imagine this film would appeal to a stoner who is currently partaking.  for something similar but better try "brother from another planet"'

In [15]:
def remove_html_tag2(text):
    
    pattren = r"<.*?>"
    
    text = re.sub(pattern=pattren, repl=" ", string=text)
    
    return text

In [16]:
df['review'] = df['review'].apply(remove_html_tag2)

In [17]:
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production.   the filming t...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

# Urls Remove

In [18]:
def remove_urls(text):
    
    pattern = re.compile(r'https?://\S+|www.\S+')
    
    return pattern.sub(r" ", text)

In [19]:
text="""https://dataaspirant.com/nlp-text-preprocessing-techniques-implementation-python/#t-1600077497351 Hello NLP
"""

text2 = """
This is an example text for URLs like http://google.com & https://www.facebook.com/ etc.

"""

In [20]:
result = remove_urls(text2)

In [21]:
result

'\nThis is an example text for URLs like   &   etc.\n\n'

In [22]:
def remove_urls2(text):
    pattern = r"https?://\S+|www.\S+"
    
    text = re.sub(pattern = pattern, repl=" ", string=text)
    
    return text

In [23]:
text3 = """
https://www.cricbuzz.com/ Hello Cricbuzz
"""

In [24]:
remove_urls2(text3)

'\n  Hello Cricbuzz\n'

# punctuation remove

In [25]:
from string import punctuation
import time

time.time()

1644952865.7512226

In [26]:
punc = punctuation

In [27]:
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
def remove_punc(text):
    
    for char in punc:
        text = text.replace(char, '')
    
    return text

In [29]:
text4 = """
this jhj is an example text for punctuations like .?/ @ test*
"""

In [30]:
result = remove_punc(text4)

In [31]:
result

'\nthis jhj is an example text for punctuations like   test\n'

In [32]:
def remove_punc2(text):
    return text.translate(str.maketrans('','', punc))

In [33]:
remove_punc2(text4)

'\nthis jhj is an example text for punctuations like   test\n'

In [34]:
df2 =  pd.read_csv('train_tweet.csv')

In [35]:
df2.sample(5)

          id  label                                              tweet
7952    7953      0  my arms hu #workout #comedy #funny   #vine #ga...
19750  19751      0  i am thankful for having internet connection. ...
15364  15365      0  watching my atfotf did for an @user &amp; @use...
19332  19333      0  june is a #celebration month   bihdays to all ...
2095    2096      0  man on 333 bus is calling the bus driver a bat...

In [36]:
df2['tweet'] = df2['tweet'].apply(remove_punc2)

In [37]:
df2['tweet']

0         user when a father is dysfunctional and is so...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model   i love u take with u all the time in u...
4                     factsguide society now    motivation
                               ...
31957    ate user isz that youuuðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                      thank you user for you follow
Name: tweet, Length: 31962, dtype: object

# Chat Word Treatment

In [38]:
chat_word = { 
'AFAIK':'As Far As I Know',
'AFK':'Away From Keyboard',
'ASAP':'As Soon As Possible',
'ATK':'At The Keyboard',
'ATM':'At The Moment',
'A3':'Anytime, Anywhere, Anyplace',
'BAK':'Back At Keyboard',
'BBL':'Be Back Later',
'BBS':'Be Back Soon',
'BFN':'Bye For Now',
'B4N':'Bye For Now',
'BRB':'Be Right Back',
'BRT':'Be Right There',
'BTW':'By The Way',
'B4':'Before',
'B4N':'Bye For Now',
'CU':'See You',
'CUL8R':'See You Later',
'CYA':'See You',
'FAQ':'Frequently Asked Questions',
'FC':'Fingers Crossed',
'FWIW':"For What It's Worth",
'FYI':'For Your Information',
'GAL':'Get A Life',
'GG':'Good Game',
'GN':'Good Night',
'GMTA':'Great Minds Think Alike',
'GR8':'Great',
'G9':'Genius',
'IC':'I See',
'ICQ':'I Seek you (also a chat program)',
'ILU': 'I Love You',
'IMHO':'In My Honest/Humble Opinion',
'IMO':'In My Opinion',
'IOW':'In Other Words',
'IRL':'In Real Life',
'KISS':'Keep It Simple, Stupid',
'LDR':'Long Distance Relationship',
'LMAO':'Laugh My A.. Off',
'LOL':'Laughing Out Loud',
'LTNS':'Long Time No See',
'L8R':'Later',
'MTE':'My Thoughts Exactly',
'M8':'Mate',
'NRN':'No Reply Necessary',
'OIC':'Oh I See',
'PITA':'Pain In The A..',
'PRT':'Party',
'PRW':'Parents Are Watching',
'QPSA':'Que Pasa',
'ROFL':'Rolling On The Floor Laughing',
'ROFLOL':'Rolling On The Floor Laughing Out Loud',
'ROTFLMAO':'Rolling On The Floor Laughing My A.. Off',
'SK8':'Skate',
'STATS':'Your sex and age',
'ASL':'Age, Sex, Location',
'THX':'Thank You',
'TTFN':'Ta-Ta For Now!',
'TTYL':'Talk To You Later',
'U':'You',
'U2':'You Too',
'U4E':'Yours For Ever',
'WB':'Welcome Back',
'WTF':'What The F...',
'WTG':'Way To Go!',
'WUF':'Where Are You From?',
'W8':'Wait',
'7K':'Sick:-D Laugher',
'prblm':'Problem',
'thnx':'Thank You',
'Plz':'Please',
'pls':'Please',
'2mrw':'tomorrow',
'BF':'boyfriend',
'BF':'bestfriend',
'GF':'girlfriend',
'HBD':'Happy Birthday',
'hhhhhh':'very funny',
'How r u':'How are you?',
'mins':'minutes',
'MSG':'message',
'nv':'nevermind',
'OIC':'Oh, I see',
'OTW':'on the way',
'blnc':'chat_word',
'P2P':'person-to-person',
'U2':'you too',
'ur':'your',
'ZZZ':'tired',
'ZZZ':'bored',
'?4U':'I have a question for you.',
'121':'one-to-one',
'<3':'love',
'CUZ':'because',
'COS':'because',
'CWYL':'Chat with you later',
'DC':'disconnected',
'DIY':'Do it yourself',
'DM':'Direct Message',
'F2F':'face-to-face',
'FB':'Facebook',
'Sup or Zup':"What's up?",

}

In [39]:
def chat_word_treatment(text):
    new_text = []
    
    for w in text.split():
        if w.upper() in chat_word:
            new_text.append(chat_word[w.upper()])
            print(new_text)
        else:
            new_text.append(w)
    return ' '.join(new_text)

In [40]:
text5 = """ And u2"""

In [41]:
result = chat_word_treatment(text5)

['And', 'you too']